/*Alumni Web Solutions Fonts*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/

/*Background*/
body  {
    text-align:center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: 0px -180px;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: 0px -180px;}

}

/*Center Box*/
.center-block {
	background-color: #fff;
	border-radius: 8px;
	width: 50%;
	margin: 160px auto;
	box-shadow: 10px 10px 30px 5px #595959;
	z-index: 1;
}

/*Main Image*/
.focalImage {
	display: inline-block;
	height: 95%;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
	border-radius: 8px 8px 0px 0px;
}

/*Logos and text to left of login form*/
.alumniPortalLogo img {
	margin-top: 15px;
	width: 100%;
	max-width: 220px;
}

.poweredByLine {
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
	font-weight: lighter;
	margin-top: 10px;
}

.academicWebSolutionsLogo img {
	margin-top: -15px;
	width: 100%;
	max-width: 140px;
}

/*positioning for email and password input fields*/
.formFields{
	margin-top: 25px;
	width: 100%;
	max-width: 470px;
}

/*Adds space below email and password fields to fill the space vertically */
.form-control {
	margin-bottom: 25px;
}

/*highlight color for when email and password fields are selected*/
.form-control:focus {
	border-color: #383aa3;
	box-shadow: inset 0 1px 1px #383aa3, 0 0 8px #383aa3;
}

/*Color for Login Button*/
.btn {
	background-color: #383aa3;
	color: #fff;
}

/*Keeps Login text white upon hover*/
.btn:hover {
	color: #fff
}

/*highlight color of Login Button*/
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline-color: #383aa3;
}

/*color of "here" link (link to signup page)*/
a {
	color: #383aa3;
}

