<<<<<<< HEAD
.btn-default {
    color: #555;
    background-color: rgba(0,0,0,.0001);
    border-color: rgba(0,0,0,.075);

} 
.jumbotron{
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.profilePic{
  margin-top: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-width:5px;
  box-shadow: -1px 2px 14px 1px rgba(0, 0, 0, 0.55); 
}


=======
>>>>>>> 6a4ffae98a0d14601df290d9dc6697082eac39a6
h2{
  text-align: center;
}
h3{
  margin-left: 15px;
}
.btn-default{
    color: #555;
    background-color: rgba(0,0,0,.0001);
    border-color: rgba(0,0,0,.075);
} 
.intro-list-group{
  text-align: center;
  padding: 0;
}
.profilePic{
  margin-top: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-width:5px;
  box-shadow: -1px 2px 14px 1px rgba(0, 0, 0, 0.55); 
}
.myModal{
    display: block !important;
}
.modal-dialog{
      overflow-y: initial !important
}
.modal-body{
  height: 400px;
  overflow-y: auto;
}
#country, #city, #jobTitle, #jobLocation, #fieldOfStudy{
  width: 100%;
  padding: 10px, 12px, 10px, 12px; 
}
#headLine, #jobDescription, #activitiesAndSocieties{
  height: 80px;
}
.btn-circle{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#editIntroBtn{
    position: absolute;
    left: 91%;
    bottom: 34%;
}

#editIntroBtn, #addExperienceBtn, #addEducationBtn, #addOrganizationBtn{
  float: right;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.panel, .panel-default{
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 6px;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.panel-body{
  padding-right: 0px;
  padding-left: 0px;
  border-color: #fff;
  background-color: #fff;
}
<<<<<<< HEAD
.entry:not(:first-of-type)
{
  margin-top: 8px;
}

#dataForm {
  width: 100%;
}
#addDegree {
  font-size: 12px;
  float: right;
  margin-right: 0;
  margin-left: 0;
}
#addDegreeBtn{
  width:15px;
  height: 16px;
  padding: 0px;
  border: 0px;
}

=======
.entry:not(:first-of-type){
  margin-top: 8px;
}
#dataForm {
  width: 100%;
}
.dataStyle{
  color: red;
}
>>>>>>> 6a4ffae98a0d14601df290d9dc6697082eac39a6
