.col-md-4 {
    width: 300px;
}

.col-md-8 {
    width: 1100px;
}

.container-fluid {
    margin-left: -30px;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	opacity: 1;
	/*background: rgba(25, 25, 25, .7)*/
	-webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}